<body>
  <div class="about">
    <h2>Overview</h2>

    <p><strong>xuanjitu</strong> is an online, web-based implementation of Xuanji Tu (璇玑图), an ancient palindrome poem by Chinese poet Su Hui. "One of the earliest extant poems by a woman--also among the most complex and unsung--the Xuanji Tu takes the form of a 29 x 29 character grid, embroidered or woven in five colors in silk, written in classical Chinese in the fourth century." --Jen Bervin, in an <%= link_to "interview", "https://www.asymptotejournal.com/interview/an-interview-with-jen-bervin" %>

    <p>As the poem can be read horizontally, vertically, or diagonally, in either direction, there are thousands and thousands of ways through the grid that can form rhyming poems of various line lengths. Plenty of scholars have published books and papers about how to read it, over the thousand+ years since it was created, but mostly in the form of text and printed diagrams to show the paths through the grid.</p>

    <p>This app animates those readings proposed by scholars, and (eventually, I hope) will allow visitors to discover new readings of their own.</p>

    <p>The app is best viewed in Google Chrome on a device with a large wide screen, like a tablet (landscape mode), laptop, or desktop.</p>


    <h2>Demo mode</h2>

    <p>The app is still a work in progress.</p>

    <p>So far, it only has a non-interactive demo mode, where it runs in a continuous loop, about an hour long. The loop consists of over 500 readings (distinct poems) proposed by Michèle Métail in her book <em>Wild Geese Returning: Chinese Reversible Poems</em> (translated by Jody Gladding). For all colors other than red, the loop includes every reading listed in Métail's book (with minor exceptions); for red--which has such a disproportionately large number of possible readings that Métail doesn't list them in the book--the loop contains a sampling of readings that would be valid according to Métail's system.</p>

    <p>Pinyin is provided in the sidebar.</p>


    <h2>Further reading</h2>

    <p>For technical details, roadmap of upcoming features, the source code, or to contact me, visit <%= link_to "xuanjitu on GitHub", "https://github.com/rorysaur/xuanjitu" %>.

    <p>This project originated as part of a conversation with artist <%= link_to "Jen Bervin", "http://jenbervin.com/" %>, who has been researching and working with Xuanji Tu for years. You can read more about her related project on her own page <%= link_to "here", "http://jenbervin.com/projects/su-huis-reversible-poem#1" %>, and read an interview with her <%= link_to "here", "https://www.asymptotejournal.com/interview/an-interview-with-jen-bervin/" %> (the same one linked to in the Overview).</p>

    <p>Readings in the app are from <em><%= link_to "Wild Geese Returning: Chinese Reversible Poems", "https://www.amazon.com/Wild-Geese-Returning-Chinese-Reversible/dp/9629968002" %></em> by Michèle Métail, trans. Jody Gladding.</p>
  </div>
</body>
